<p>
  The rapid advancement of quantum computing poses a critical threat to
  classical cryptographic algorithms such as RSA and ECC, particularly in
  Internet of Things (IoT) devices, where secure communication is essential but
  often constrained by limited computational resources. This paper investigates
  the feasibility of deploying post-quantum cryptography (PQC) algorithms on
  resource-constrained devices. In particular, we implement three PQC algorithms
  --- BIKE, CRYSTALS-Kyber, and HQC --- on a lightweight IoT platform built with
  Raspberry Pi devices. Leveraging the Open Quantum Safe (\texttt{liboqs})
  library in conjunction with \texttt{mbedTLS}, we develop quantum-secure key
  exchange protocols, and evaluate their performance in terms of computational
  overhead, memory usage, and energy consumption for quantum secure
  communication. Experimental results demonstrate that the integration of PQC
  algorithms on constrained hardware is practical, reinforcing the urgent need
  for quantum-resilient cryptographic frameworks in next-generation IoT devices.
</p>
